.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* GitHub Component */
.commitHeading {
  margin-bottom: 40px;
}

.componentBody {
  padding-left: 20px;
  padding-right: 20px;
}

.commitWrapper {
  display: flex;
  justify-content:space-evenly;
}

.mainDiv {
  height: 80vh;
  position: relative !important;
}

.commitCard {
  border: 1px rgb(56, 56, 56) solid;
  padding: 0 !important;
  margin: 20px 10px 20px 10px;
  width: 250px !important;
}

.commitCard h3 {
  background-color: lightgray;
  width: 100%;
}

.buttonContainer {
  position: fixed;
  bottom: 100px;
  width: 300px;
  left: 50%;
  margin-left: -150px !important;
}

.commitCard {
  display: block;
}

.commitMsg {
  display: block;
}

.commitDate {
  display: block;
}

.buttonContainer Button {
  margin: 10px 20px 10px 20px;
}



/* Footer */

.myFooter {
  display: flex;
  align-items: center;
  background-color: rgb(104, 104, 104);
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 75px;
  margin: 0 !important;
}

